header{
    background: #161616;
    padding-bottom: 25px;
    position: relative;
}
h1{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 4rem;
    margin: auto;
    color: #ffffff;
    text-shadow: 5px 5px 20px #161616;
}

.about__section-1{
    display: flex;
    background-image: url("../assets/about-us/alberto-castillo-q-mx4mSkK9zeo-unsplash.jpg");
    background-repeat: no-repeat; 
    background-size:cover;
    padding-top: 300px;
    padding-bottom: 300px;
}

.about__section-2__about-text{
    display: flex;
    flex-direction: column;
}

.about__section-2__about-text-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 55%;
    margin-bottom: 50px ;
}

.about__section-2__about-text-left h2{
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    margin-left: 0;
}
.about__section-2__about-text-left h3 {
    font-weight: 300;
    font-size: 1rem;
    color: #272727;
}

.about__section-2__about-text-right{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    max-width: 55%;
    margin-left:auto;
    margin-right: 0;
    margin-bottom: 50px ;
}

.about__section-2__about-text-right h2{
    font-size: 2rem;
    font-weight: 600;
    text-align: right;
    margin-left: 0;
}
.about__section-2__about-text-right h3 {
    font-weight: 300;
    font-size: 1rem;
    color: #272727;
}